@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url('sdu.jpg');
    background-size: cover;
}
img {
    width:11%;
    margin-top: 40px;
    margin-left: 683px;
    border: 1px solid #a4d6e2;
    border-radius: 50%;
}
.login {
    color: white;
    width: 300px;
    margin-left: 620px;
    margin-top: 35px;
}

.login #h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 6px;
}
.login form #h2 b span {
    color: #a4d6e2;
}
.login .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.login .inputBox input {
    padding: 5px 0;
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    border-radius: 15px;
}
.login .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.login .inputBox input:focus ~ span,
.login .inputBox input:valid ~ span {
    color:white;
    font-size: 15px;
    transform: translateY(-28px);
}
.login .btn a{
    position: absolute;
    width: 100px;
    background: #2e7281;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    font-size: 22px;
    margin-left: 82px;
    margin-top: 8px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}
.login form #cant {
    position: absolute;
    color: #2e7281;
    background-color: white;
    margin-left: 35px;
    margin-top: 80px;
    text-decoration: none;
    padding: 2px 12px 2px 12px;
    border-radius: 28px;
    cursor: pointer;
    border: 1px solid #2e7281;
}
.forgot {
    color: black;
    background-color: white;
    width: 300px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 620px;
    margin-top: 140px;
}
.forgot input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.forgot #write {
    font-size: 16px;
}
.forgot #send {
    color: white;
    background-color: #2e7281;
    cursor: pointer;
}
.sent {
    position: absolute;
    background-color: white;
    width: 390px;
    text-align: center;
    height: 90px;
    margin-left: 568px;
    margin-top: -90px;
}
.sent #Ok {
    background-color: #2e7281;
    width: 60px;
    margin-left: 170px;
    margin-top: 9px;
    cursor: pointer;
}
.sent #code{
    padding-top: 10px;
}
.x {
    position: absolute;
    width: 320px;
    margin-top: -155px;
    margin-left: 220px;
    cursor: pointer;
}
@media (max-width: 947px) {
    body { 
        background-image: url('sdumobile.jpg');
        background-size: 111%;
        align-items: center;
        text-align: center;
        display: block;
        place-content: center;
        place-items: center;
    }
    img {
        width: 180px;
        margin: 0;
    }
    .login {
        margin-left: 100px;
    }
    .login #h2 {
        background-color: white;
        color: black;
    }
    .login .btn a{
        margin-left: -65px;
    }
    .login form #cant {
        margin-left: -110px;
    }
    .x img{
        width: 30px;
        margin-top: 42px;
        margin-left: 37px;
    }
    .forgot{ 
        margin-left: 100px;
    }
    .sent {
        margin-left: 60px;
    }
}