@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
    background-image: url('sdufull.jpg');
    background-size: 100%;
}
html {
	scroll-behavior: smooth;
}
.max-width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
.navbar {
	width: 100%;
    transition: all 0.3s ease;
    background: white;
}
.menu-btn{
	color: #666;
	font-size: 23px;
	cursor: pointer;
	display: none;
}
.navbar .max-width {
	display: flex;
	justify-content: space-between;
}
.navbar .logo a{
	color: white;
	font-size: 23px;
	font-weight: 300;
	margin-right:100px;
    text-decoration: none;
}
.navbar .logo a img{
    width: 350px;
}
.navbar .menu li{
    margin-top: 48px;
    list-style: none;
	display: inline-block;
}
.navbar .menu li a {
	color: #102467;
	font-size: 23px;
	margin-left: 25px;
	transition: color 0.3s ease;
    text-decoration: none;
}
.navbar .menu li a:hover {
	color: rgb(151, 4, 4);
}
.student {
    margin-top: 180px;
    margin-left: 300px;
    opacity: 0.9;
}
#table1 {
	text-align: center;
	width: 600px;
	position: absolute;
	margin-top: -330px;
	margin-left: 650px;
	color: black;
	background-color: white;
	opacity: 0.9;
}
.att h1 {
	color: white;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#table2 {
	text-align: center;
	width: 1100px;
	margin-left: 220px;
	color: black;
	background-color: white;
	opacity: 0.9;

}
#table3 {
	text-align: center;
	opacity: 0.9;
	width: 1230px;
	margin-left: 150px;
	background-color: white;
	padding-bottom: 40px;
}
.shedul h1 {
    text-align: center;
    color: white;
    padding-bottom: 27px;
    padding-top: 27px;
    font-size: 45px;
}
@media (max-width: 947px) {
	body { 
        background-image: url('sdumobile.jpg');
        background-size: 111%;
        align-items: center;
        text-align: center;
        display: block;
        place-content: center;
        place-items: center;
    }
	.max-width {
		padding: 0 50px;
	}
	.menu-btn{
	margin-top: 30px;
	color: black;
	display: block;
    z-index: 999;
	cursor: pointer;
	z-index: 10000;
	}
	.navbar .menu {
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: white;
		text-align: center;
		padding-top: 150px;
		transition: all 0.3s ease;
		position: absolute;
		z-index: 10000;
	}
	.navbar .menu.active {
		left:0;
		position: absolute;
	}
	.navbar .menu li {
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
    }
    .navbar .max-width .logo a img{
        width: 250px;
	}
	#table3 {
		opacity: 1;
		text-align: left;
		margin-left: 0;
		width: 0;
	}
}